footer {
  background-color: var(--light-color);
  font-size: var(--body-font-size-xs);
  color: var(--dark-color);
}

footer .footer > div {
  margin: auto;
  max-width: var(--container-max-width);
  padding: 40px var(--container-padding) 24px;
}

footer .footer p {
  margin: 0;
}

footer .footer .section + .section {
  margin-top: 32px;
  padding-top: 24px;
  border-top: 1px solid var(--border-color);
}

footer .footer .section.legal a {
  margin-right: 16px;
  white-space: nowrap;
}

footer .footer .section.copyright p {
  margin-top: 16px;
  color: var(--dark-color);
}

